.main{
  margin:5%;
}

h1{
  margin: 3%;
  text-align: center;
}

div{
  margin:2%;
}

.dropdown{
  width: 150px;
}

.showFee{
  font-size: x-large;
  font-weight: bold;
}
button{
  width:100px;
  margin-left:2%;
}